In [1]:
import pandas as pd
import difflib
import pickle 
import json

In [2]:
movieslist = pickle.load(open('movieslist.pkl','rb'))
movieslist.head()

,Unnamed: 0,imdb_title_id,original_title,year,genre,director,actors,avg_vote,cast_size,comb
0,0,tt0035423,kate & leopold,2001,"Comedy, Fantasy, Romance",James Mangold,Meg Ryan Hugh Jackman Liev Schreiber Breckin M...,6.4,15,James Mangold Meg Ryan Hugh Jackman Liev Schre...
1,1,tt0069049,the other side of the wind,2018,Drama,Orson Welles,John Huston Oja Kodar Peter Bogdanovich Susan ...,6.8,15,Orson Welles John Huston Oja Kodar Peter Bogda...
2,2,tt0088751,the naked monster,2005,"Comedy, Horror, Sci-Fi","Wayne Berwick, Ted Newsom",Kenneth Tobey Brinke Stevens R.G. Wilson John ...,5.4,15,"Wayne Berwick, Ted Newsom Kenneth Tobey Brinke..."
3,3,tt0096056,crime and punishment,2002,Drama,Menahem Golan,Crispin Glover Vanessa Redgrave John Hurt Marg...,5.8,15,Menahem Golan Crispin Glover Vanessa Redgrave ...
4,4,tt0113026,the fantasticks,2000,"Musical, Romance",Michael Ritchie,Joel Grey Barnard Hughes Jean Louisa Kelly Joe...,5.6,15,Michael Ritchie Joel Grey Barnard Hughes Jean ...

In [2]:
similarity = pickle.load(open('similarity.pkl','rb'))
df = pd.read_csv('final_movies.csv')
movies_titles = df['original_title'].tolist()
big_df = pd.read_csv('IMDb movies.csv')
mt = big_df['original_title'].tolist()
def closest(arr,s):
    l = s.split()
    l = set(l)
    match = arr[0]
    wrd_match = -1
    if(len(s.split())==1):
        for i in arr:
            i1 = set(i.split())
            if wrd_match<len(list(l&i1)):
                wrd_match = max(wrd_match,len(list(l&i1)))
                match = i
    return match

C:\Users\LEGION\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
similarity_arr=similarity.tolist()
with open("sample.json", "w") as outfile:
    json.dump(similarity_arr, outfile)

In [9]:
name = input("Enter a movie name: ")
name = name.lower()
close_match = difflib.get_close_matches(name,movies_titles)
# close_match[0]
closest_match = closest(close_match,name).lower()
print(closest_match)
closest_index = df[df['original_title'] == closest_match].index.values[0]
similarity_score = list(enumerate(similarity[closest_index]))
# print(similarity_score)
sorted_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
# print(sorted_score)
for i in range(1, 11):
    idx = sorted_score[i][0]
    # print(idx)de
    print(df['original_title'][idx])

the avengers
avengers: age of ultron
avengers: infinity war
iron man 2
avengers: endgame
captain america: civil war
captain america: the winter soldier
iron man
much ado about nothing
thor
iron man three

In [5]:
print(difflib.get_close_matches('finding nemo',movies_titles))

['finding nemo', 'finding joy', 'finding neighbors']